.postorname
{
    font-family: 'Montserrat' , sans-serif;
    font-size: 12px;
    color: #9b9b9b;
    letter-spacing: 1px;
    padding: 10px;
    white-space: nowrap;
    text-align: left;
}
.sub-text
{
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.image-wrap
{
    /*background: #E5E5EE;*/
    background: #ffffff;
    opacity: 1;
    height: 510px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
.image-wrap img
{
    max-height: 100%;
    max-width: 100%;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 25px;
    margin: 10px 10px;
}
.dragover {
    border: 5px dashed blue;
}
.img-container{
    height:400px;
}
.img_pview{
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}

/*Comments*/
/*.comments
{
    height: 100%;
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,.1);
}*/

.commentList
{
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow: auto;
}
.commentList li
{
    margin: 0;
    margin-top: 10px;
}
.commentList li > div
{
    display: table-cell;
}
.commenterImage
{
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}
.commenterImage img
{
    width: 100%;
    border-radius: 50%;
}
.commentText p
{
    margin: 0;
}
.sub-text
{
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.comments .form-group:first-child
{
    width: 70%;
}

.comments .form-group:nth-child(2)
{
    width: 28%;
}

.txtComment
{
    width: 95%;
}

/*Tags*/
#imgtag
{
    position:relative;
    display: inline-block;
    /*float:left;*/
    cursor: crosshair;

}
#imgtag img
{
    height: 100%;
    width: 100%;
    /*display: inline-block;*/
}
.tagview
{
    /*border:solid 3px #fff;*/
    /*position:absolute;
    z-index: 200;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border: 1px solid #eee;
    border-radius: 3px;*/
    /*max-width: 100px;*/
    /*display:none;*/
    color: #fff;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: absolute;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    opacity: 0.8;
    background:rgba(0,0,0,0.5);
}
/*the hole*/
.tagview::before {
    background: #fff;
    /*background:rgba(0,0,0,0.2);*/
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.2);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
    opacity: 0.8;
}

.tagview::after {
    /*background: #fff;*/
    background:rgba(0,0,0,0.2);
    border-bottom: 13px solid transparent;
    /*border-left: 10px solid #eee;*/
    border-left: 10px solid rgba(0,0,0,0.2);

    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    /*opacity: 0;*/
}

.tagview:hover {
    opacity: 0.9;
    color: white;
}

.tagview:hover::after {
    opacity: 0.9;
    /*border-color: transparent transparent transparent;  */
}

.tagview a{
    color:#fff;
}
#tagit
{
    position:absolute;
    top:0;left:0;
    width:220px;
}
#tagit .box
{
    border:solid 3px #fff;
    border-radius: 50%;
    width:10px;
    height:10px;
    float:left;
    background: #BFC6D0;
}

#tagit .name
{
    float:left;
    background: #f5f5f5;
    opacity: 0.9;
    width:200px;
    height:120px;
    padding:5px;
}
#tagit div.text
{
    margin-bottom:5px;
}
#tagit input[type=text]
{
    margin-bottom:5px;
}
/*#tagit #tagname
{
    width:180px;
}*/
#taglist
{
    background-color:#012D4A;
    width:300px;
    min-height:200px;
    height:auto !important;
    height:200px;
    float:left;
    padding:10px;
    margin-left:20px;
    color:#BFC6D0;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

}
#taglist ol { padding:0 20px;float:left;cursor:pointer}
#taglist ol a { color:#BFC6D0;font-size:11px;}
#taglist ol a:hover { text-decoration:underline }
.tagtitle
{
    font-size:14px;
    text-align:center;
    width:100%;
    float:left;
}

.tag-del {
    opacity: 1;
    margin-left: 10px;
    margin-right: -10px;
    padding: 5px;
    cursor: hand;
}

.tag-del:hover {
    opacity: 1;
}

/*another circle menu*/

/**:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.absolute-center,*/
.menu,
.menu .btn .fa,
.menu .btn.trigger .line {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.menu {
    width: 3em;
    height: 3em;
}

.menu .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f5f5f5;
    opacity: 0;
    /*z-index: -10;*/
    cursor: pointer;
    -webkit-transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
    transition: opacity 1s, z-index 0.3s, transform 1s;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.menu .btn .fa {
    font-size: 1em;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.menu .btn:hover .fa { color: rgba(255, 255, 255, 0.7); }

.menu .btn.trigger {
    opacity: 1;
    z-index: 100;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.menu .btn.trigger:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.menu .btn.trigger:hover .line { background-color: rgba(255, 255, 255, 0.7); }

.menu .btn.trigger:hover .line:before,
.menu .btn.trigger:hover .line:after { background-color: rgba(255, 255, 255, 0.7); }

.menu .btn.trigger .line {
    width: 60%;
    height: 6px;
    background: #000;
    border-radius: 6px;
    -webkit-transition: background-color 0.3s, height 0.3s, top 0.3s;
    transition: background-color 0.3s, height 0.3s, top 0.3s;
}

.menu .btn.trigger .line:before,
.menu .btn.trigger .line:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background: #000;
    border-radius: 6px;
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, transform 0.3s;
}

.menu .btn.trigger .line:before {
    top: -12px;
    -webkit-transform-origin: 15% 100%;
    -ms-transform-origin: 15% 100%;
    transform-origin: 15% 100%;
}

.menu .btn.trigger .line:after {
    top: 12px;
    -webkit-transform-origin: 25% 30%;
    -ms-transform-origin: 25% 30%;
    transform-origin: 25% 30%;
}

.menu .rotater {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.menu.active .btn-icon {
    opacity: 0.8;
    z-index: 50;
    padding: 5px 5px;
}

.menu.active .trigger .line {
    height: 0px;
    top: 45%;
}

.menu.active .trigger .line:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 110%;
}

.menu.active .trigger .line:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 110%;
}

/* horrible things are happening here
for some reason nth-child(1) is always busy and elements starting from 2 */

.rotater:nth-child(1) {
    -webkit-transform: rotate(-22.5deg);
    -ms-transform: rotate(-22.5deg);
    transform: rotate(-22.5deg);
}

.menu.active .rotater:nth-child(1) .btn-icon {
    -webkit-transform: translateX(-6em) rotate(22.5deg);
    -ms-transform: translateX(-6em) rotate(22.5deg);
    transform: translateX(-6em) rotate(22.5deg);
}

.rotater:nth-child(2) {
    -webkit-transform: rotate(22.5deg);
    -ms-transform: rotate(22.5deg);
    transform: rotate(22.5deg);
}

.menu.active .rotater:nth-child(2) .btn-icon {
    -webkit-transform: translateX(-6em) rotate(-22.5deg);
    -ms-transform: translateX(-6em) rotate(-22.5deg);
    transform: translateX(-6em) rotate(-22.5deg);
}

.rotater:nth-child(3) {
    -webkit-transform: rotate(67.5deg);
    -ms-transform: rotate(67.5deg);
    transform: rotate(67.5deg);
}

.menu.active .rotater:nth-child(3) .btn-icon {
    -webkit-transform: translateX(-6em) rotate(-67.5deg);
    -ms-transform: translateX(-6em) rotate(-67.5deg);
    transform: translateX(-6em) rotate(-67.5deg);
}

.rotater:nth-child(4) {
    -webkit-transform: rotate(112.5deg);
    -ms-transform: rotate(112.5deg);
    transform: rotate(112.5deg);
}

.menu.active .rotater:nth-child(4) .btn-icon {
    -webkit-transform: translateX(-6em) rotate(-112.5deg);
    -ms-transform: translateX(-6em) rotate(-112.5deg);
    transform: translateX(-6em) rotate(-112.5deg);
}

.rotater:nth-child(5) {
    -webkit-transform: rotate(157.5deg);
    -ms-transform: rotate(157.5deg);
    transform: rotate(157.5deg);
}

.menu.active .rotater:nth-child(5) .btn-icon {
    -webkit-transform: translateX(-6em) rotate(-157.5deg);
    -ms-transform: translateX(-6em) rotate(-157.5deg);
    transform: translateX(-6em) rotate(-157.5deg);
}

.rotater:nth-child(6) {
    -webkit-transform: rotate(202.5deg);
    -ms-transform: rotate(202.5deg);
    transform: rotate(202.5deg);
}

.menu.active .rotater:nth-child(6) .btn-icon {
    -webkit-transform: translateX(-6em) rotate(-202.5deg);
    -ms-transform: translateX(-6em) rotate(-202.5deg);
    transform: translateX(-6em) rotate(-202.5deg);
}

.rotater:nth-child(7) {
    -webkit-transform: rotate(247.5deg);
    -ms-transform: rotate(247.5deg);
    transform: rotate(247.5deg);
}

.menu.active .rotater:nth-child(7) .btn-icon {
    -webkit-transform: translateX(-6em) rotate(-247.5deg);
    -ms-transform: translateX(-6em) rotate(-247.5deg);
    transform: translateX(-6em) rotate(-247.5deg);
}

.rotater:nth-child(8) {
    -webkit-transform: rotate(292.5deg);
    -ms-transform: rotate(292.5deg);
    transform: rotate(292.5deg);
}

.menu.active .rotater:nth-child(8) .btn-icon {
    -webkit-transform: translateX(-6em) rotate(-292.5deg);
    -ms-transform: translateX(-6em) rotate(-292.5deg);
    transform: translateX(-6em) rotate(-292.5deg);
}

.rotater:nth-child(9) {
    -webkit-transform: rotate(337.5deg);
    -ms-transform: rotate(337.5deg);
    transform: rotate(337.5deg);
}

.menu.active .rotater:nth-child(9) .btn-icon {
    -webkit-transform: translateX(-6em) rotate(-337.5deg);
    -ms-transform: translateX(-6em) rotate(-337.5deg);
    transform: translateX(-6em) rotate(-337.5deg);
}