.postorname
{
    font-family: 'Montserrat' , sans-serif;
    font-size: 12px;
    color: #9b9b9b;
    letter-spacing: 1px;
    padding: 10px;
    white-space: nowrap;
    text-align: left;
}
.sub-text
{
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.image-wrap
{
    /*background: #E5E5EE;*/
    background: #ffffff;
    opacity: 1;
    height: 510px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
.image-wrap img
{
    max-height: 100%;
    max-width: 100%;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 25px;
    margin: 10px 10px;
}
.dragover {
    border: 5px dashed blue;
}
.img_pview{
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}

/*Comments*/
.comments
{
    height: 100%;
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,.1);
}

.commentList
{
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow: auto;
}
.commentList li
{
    margin: 0;
    margin-top: 10px;
}
.commentList li > div
{
    display: table-cell;
}
.commenterImage
{
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}
.commenterImage img
{
    width: 100%;
    border-radius: 50%;
}
.commentText p
{
    margin: 0;
}
.sub-text
{
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.comments .form-group:first-child
{
    width: 70%;
}

.comments .form-group:nth-child(2)
{
    width: 28%;
}

.txtComment
{
    width: 95%;
}

/*Tags*/
#imgtag
{
    position:relative;
    display: inline-block;
    /*float:left;*/
    cursor: crosshair;

}
#imgtag img
{
    height: 100%;
    width: 100%;
    /*display: inline-block;*/
}
.tagview
{
    /*border:solid 3px #fff;*/
    position:absolute;
    z-index: 200;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border: 1px solid #eee;
    border-radius: 3px;
    /*max-width: 100px;*/
    /*display:none;*/
}
.tagview a{
    color:#fff;
}
#tagit
{
    position:absolute;
    top:0;left:0;
    width:250px;
}
#tagit .box
{
    border:solid 3px #fff;
    border-radius: 50%;
    width:10px;
    height:10px;
    float:left;
}

#tagit .name
{
    float:left;
    background-color:#fff;
    width:130px;
    height:80px;
    padding:5px;
}
#tagit div.text
{
    margin-bottom:5px;
}
#tagit input[type=text]
{
    margin-bottom:5px;
}
#tagit #tagname
{
    width:110px;
}
#taglist
{
    background-color:#012D4A;
    width:300px;
    min-height:200px;
    height:auto !important;
    height:200px;
    float:left;
    padding:10px;
    margin-left:20px;
    color:#BFC6D0;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

}
#taglist ol { padding:0 20px;float:left;cursor:pointer}
#taglist ol a { color:#BFC6D0;font-size:11px;}
#taglist ol a:hover { text-decoration:underline }
.tagtitle
{
    font-size:14px;
    text-align:center;
    width:100%;
    float:left;
}