<md-content layout="column" flex md-scroll-y ng-init="userp_initFirst()" style="background: transparent;">
    <header class="profile-info">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div>
                            <a>
                                <img ng-src="{{user.userProfileUrl}}" src="https://instagramimages-a.akamaihd.net/profiles/anonymousUser.jpg" alt="user-img" class="user-avatar">
                            </a>
                        </div>
                        <div>
                            <a href="" class="profile-info-name">{{user.userProfile.username}}</a>
                        </div>

                        <div>
                            <a href="" class="profile-info-desc">{{user.userProfile.location}}</a>
                        </div>

                        <div class="col-md-9 col-sm-9 col-md-offset-1">
                            <div class="row overview">
                                <div class="col-md-3 col-sm-3 profile-statistics text-center">
                                    <a href="" class="profile-statistics">{{user.favorites.length}}</a>
                                    <br>
                                    <a href="" class="profile-statistics">收藏</a>
                                </div>
                                <div class="col-md-3 col-sm-3 profile-statistics text-center">
                                    <a href="" class="profile-statistics">{{user.following}}</a>
                                    <br>
                                    <a href="" class="profile-statistics">关注</a>
                                </div>
                                <div class="col-md-3 col-sm-3 profile-statistics text-center">
                                    <a href="" class="profile-statistics">{{user.followers}}</a>
                                    <br>
                                    <a href="" class="profile-statistics">粉丝</a>
                                </div>
                                <div class="col-md-3 col-sm-3 profile-statistics text-center">
                                    <a href="" class="profile-statistics">{{user.posts}}</a>
                                    <br>
                                    <a href="" class="profile-statistics">帖子</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <md-button ng-show="if_cur_user()" ng-click="user_follow(user)" style="border: solid; border-color: #9E9E9E; color: #000000;" ng-show="">Follow</md-button>
                    <md-button ng-show="!if_cur_user()" ng-click="user_edit(user)" style="border: solid; border-color: #9E9E9E; color: #000000;" >Edit</md-button>
                </div>
            </div>
        </div>
    </header>
    <div>

        <carousel3d ng-model="user.userFeeds" carousel3d-options="options"
            carousel3d-source-prop="url"></carousel3d>


    </div>
    <div layout="column">
        <div>收藏</div>
        <carousel3d ng-model="user.favorites" carousel3d-options="options"
                    carousel3d-source-prop="url"></carousel3d>

    </div>
</md-content>

