<md-dialog aria-label="Sign Up" style="width: 350px">
    <md-dialog-content>
        <md-input-container>
            <label>Email/Cell Phone</label>
            <input ng-model="user.email" type="email">
        </md-input-container>
        <md-input-container>
            <label>Username</label>
            <input ng-model="user.username" type="text">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input ng-model="user.password1" type="password">
        </md-input-container>
        <md-input-container>
            <label>Confirm Password</label>
            <input ng-model="user.password2" type="password">
        </md-input-container>
        <span ng-show="err" class="help-block">{{err}}</span>
    </md-dialog-content>
    <div class="md-actions">
        <!-- type=button is needed so form uses submit button -->
        <md-button class="md-primary" type="submit" ng-click="user_signup(user)">Sign Up</md-button>
    </div>
</md-dialog>