<md-dialog aria-label="Sign Up" style="max-height:none" >
    <!-- Registration form -->

    <md-dialog-content style="padding: 0;width: auto; height: auto;">
        <!--<div id="reg-form" class="overlay">-->
            <div class="register-form" style="width:400px">
                <h2>新用户注册</h2>
                <!--<a class="reg-close" href="index.html">x</a>-->
                <!--<hr class="content">-->
                    <!-- <h1>Register For An Account</h1> -->
                    <hr class = "divider-line">
                    <h3>如果您有微信或微博账户，您可以用以下方式注册</h3>
                    <div class="register-social-media">
                        <a href=" ">
                            <img title="Register with Weibo account" alt="我的主页" src="img/reg-weibo.png" class="register-buttons" />
                        </a>
                        <a href=" ">
                            <img title="Register with WeChat account" alt="我的主页" src="img/reg-wechat.png" class="register-buttons" />
                        </a>
                    </div>
                    <hr class = "divider-line">
                    <h3>您也可以用常用邮箱或手机号码新建一个账号</h3>
                    <form name="userForm"  class="form-basic" method="post" novalidate>
                        <input type="text" name="username" id="reg-last-name" class="reg-last-name" placeholder="用户名" ng-model="user.username"
                                autofocus required>
                        <div>
                            <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="reg-last-name-help" >在此填写您的用户名</p>
                            <p ng-show="userForm.username.$error.required" class="reg-last-name-help" >在此填写您的用户名</p>
                        </div>

                        <!-- Back-end should identify type of ID, email or cellphone number. -->
                        <!--TODO: cellphone and email both-->
                        <input name="email" id="reg-id" class="reg-id" ng-model="user.email" placeholder="邮箱" type="email" required>
                        <div>
                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="reg-id-help">请输入有效邮箱. </p>
                            <p ng-show="userForm.email.$error.required" class="reg-id-help">请输入邮箱. </p>
                        </div>

                        <input type="password" name="pwd1" id="reg-password" class="reg-password" placeholder="密码" ng-model="user.password1" required>
                        <div>
                            <!--<p ng-show="userForm.pwd1.$invalid && !userForm.pwd1.$pristine" class="reg-password-help">请设置账号密码. 密码要求由数字，字母，和特殊字符组成，长度8位以上，16位以内.</p>-->
                            <p ng-show="userForm.pwd1.$invalid && !userForm.pwd1.$pristine" class="reg-password-help">请您输入有效密码.</p>
                            <p ng-show="userForm.pwd1.$error.required" class="reg-password-help">请您输入密码.</p>
                        </div>

                        <input type="password" name="pwd2" id="reg-password-conf" class="reg-password-conf" placeholder="密码确认" ng-model="user.password2" required>
                        <div>
                            <p ng-show="userForm.pwd2.$invalid && !userForm.pwd2.$pristine" class="reg-password-conf-help">请您输入确认密码.</p>
                            <p ng-show="userForm.pwd2.$error.required" class="reg-password-conf-help">请您输入确认密码.</p>
                            <p ng-show="user.password1 != user.password2" class="reg-password-conf-help">密码不匹配.</p>
                        </div>

                        <br>

                        <input type="submit" class="submit" value="我要加入" ng-disabled="userForm.username.$error.required || userForm.username.$invalid || userForm.email.$error.required || userForm.email.$invalid || userForm.pwd1.$error.required || userForm.pwd1.$invalid || userForm.pwd2.$error.required || userForm.pwd2.$invalid || user.password1 != user.password2" ng-click="user_signup(user)">

                    </form>
                </div>
            </div>
        <!--</div>-->
    </md-dialog-content>
    <!--<div class="md-actions">
        &lt;!&ndash; type=button is needed so form uses submit button &ndash;&gt;
        <md-button class="md-primary" type="submit" ng-click="user_signup(user)">我要加入</md-button>
    </div>-->
</md-dialog>