<!-- Footer -->
<footer>
    <!-- <div class="container text-center">  -->
    <div class="container text-right">
        <p>
        <div class="footer-text">
            <a class="" href="#register">关于</a> |
            <a class="" href="#login">联系我们</a> |
            <a class="" href="#login">我们的故事</a> |
            <a class="" href="#login">职位信息</a>
            <!-- Social buttons -->
            <a href="[full link to your Weibo page]">
                <img title="Weibo" alt="Weibo" src="images/img/weibo.svg" width="35" height="35" class="banner-social-buttons" />
            </a>
            <a href="[full link to your WeChat]">
                <img title="WeChat" alt="WeChat" src="images/img/wechat.png" width="35" height="35" class="banner-social-buttons" />
            </a>
            <a href="[full link to your Qzone]">
                <img title="Qzone" alt="Qzone" src="images/img/Qzone.png" width="35" height="35" class="banner-social-buttons" />
            </a>
        </div>
        </p>
    </div>
    <p class="footer-text">Copyright &copy; LOOKCHIC 2015 保留所有权利。使用条款／隐私政策更新<br>沪ICP备0900313号</p>
</footer>