    <md-content layout="row" flex md-scroll-y style="background: transparent; padding: 2% 5%;"  ng-init="initProfile()">
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex="33">
            <md-toolbar style="background-color: lightgray">
                <span flex></span>
                <div layout="column" class="md-toolbar-tools-bottom inset">
                    <user-avatar></user-avatar>
                    <span></span>
                    <div>Your Account</div>
                    <!--<div>email@domainname.com</div>-->
                </div>
            </md-toolbar>
            <nav class="sidebar-nav">
                <div class="sidebar-content">
                    <ul>
                        <li>
                            <a href="#/editprofile">
                                Edit Profile
                                <i class="disclosure"></i>
                            </a>

                        </li>
                        <li>
                            <a href="/accounts/password/change/">
                                Change Password
                                <i class="disclosure"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#/userprofile">
                                Email Preferences
                                <i class="disclosure"></i>
                            </a>

                        </li>
                    </ul>

                </div>
            </nav>
            <md-list>
               <!-- <md-item ng-repeat="item in menu">
                    <a>
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                            </div>
                            <div class="inset">{{item.title}}
                            </div>
                        </md-item-content>
                    </a>
                </md-item>-->
                <md-divider></md-divider>
                <md-subheader>Settings</md-subheader>
                <md-item ng-repeat="item in menu">
                    <a>
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                            </div>
                            <div class="inset">{{item.title}}
                            </div>
                        </md-item-content>
                    </a>
                </md-item>
            </md-list>
        </md-sidenav>
        <md-content flex>
        <div layout="column" class="relative" layout-fill role="main">
            <div class="edit-profile-item" layout="row">
                <label>Profile Pic</label>
                <img ng-src="{{user.userProfileUrl}}" src="https://instagramimages-a.akamaihd.net/profiles/anonymousUser.jpg" alt="user-img" class="user-avatar">
                <md-button >
                    <div ngf-drop ngf-select ng-model="files"  type="file"
                         ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
                         ngf-accept="'image/*'">Change</div>
                </md-button>
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

            <div class="edit-profile-item" layout="row">
                <md-input-container>
                    <label>User Name</label>
                    <input ng-model="userprofile.username" >
                </md-input-container>
            </div>

            <div class="edit-profile-item" layout="row">
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="userprofile.email" type="email">
                </md-input-container>
            </div>

            <div class="edit-profile-item" layout="row">
                <md-input-container>
                    <label>Location</label>
                    <input ng-model="userprofile.location">
                </md-input-container>
            </div>

            <div class="edit-profile-item" layout="row">
                <label>Gender</label>
                <md-select name="gender" ng-model="userprofile.Gender" required>
                    <md-option value="1">Male</md-option>
                    <md-option value="2">Female</md-option>
                </md-select>
            </div>

            <div class="edit-profile-item" layout="row">
                <md-input-container>
                    <label>Birthday</label>
                    <md-datepicker ng-model="userprofile.brithday" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
            </div>

            <div class="edit-profile-item" layout="row">
                <md-input-container>
                    <label>Occupation</label>
                    <input ng-model="userprofile.Occupation">
                </md-input-container>
            </div>

            <div class="edit-profile-item" layout="row">
                <md-input-container>
                    <label>Height</label>
                    <input ng-model="userprofile.Height">
                </md-input-container>
            </div>

            <div class="edit-profile-item" layout="row">
                <md-input-container>
                    <label>Weight</label>
                    <input ng-model="userprofile.Weight">
                </md-input-container>
            </div>

        </div>
        <div class="md-actions">
            <md-button class="md-primary" ng-click="update_profile(files,userprofile)" >UPDATE</md-button>
        </div>
        </md-content>
    </md-content>