<md-dialog aria-label="Post" style="width: 550px" ng-controller="postCtrl">
    <form action="http://localhost:6543/post" method="post" accept-charset="utf-8"
          enctype="multipart/form-data">

        <input id="image" name="file" type="file" value="" />

        <input type="submit" value="submit" />
    </form>


    <md-dialog-content>
        <div ngf-drop ngf-select ng-model="files" class="drop-box" ng-show="isEmpty(files)"
             ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
             ngf-accept="'image/*'">Select/Drop your Chic Image here</div>
        <div ngf-no-file-drop>CHIC Img</div>
        <img class="img_pview" ngf-src="files[0]" ngf-accept="'image/*'" ng-show="!isEmpty(files)">
        <!--<img ngf-src="post.image[0]" ngf-default-src="images/test_img/sample3.jpg" ngf-accept="'image/*'">-->
        <md-input-container>
            <label>Description</label>
            <input ng-model="post.desc" >
        </md-input-container>
    </md-dialog-content>
    <div class="md-actions">
        <!-- type=button is needed so form uses submit button -->
        <md-button class="md-primary" ng-click="hide()">Chic Tag</md-button>
        <md-button class="md-primary" ng-click="lc_post(files)" >Chic it</md-button>
    </div>

</md-dialog>