
    <md-content flex md-scroll-y style="background: transparent; padding: 2% 5%;" ng-init="initFirst()">
        <div class="row">
            <div class="col-md-3">
                <!-- Column 2 start -->

                <!-- To edit -->

                <!-- Column 2 end -->
            </div>
            <div class="col-md-6">
                        <!-- Column 1 start -->

                        <!-- Feed 1 -->
                        <div class="main-feed-wrap" ng-repeat="feed in feeds"  class="column">
                            <div class="row">
                                <div class="column col-md-2 col-lg-2 col-sm-2" style="min-width: 50px;">
                                    <a href="">
                                        <img title="" alt="" ng-src="{{feed.avatorurl}}" class="main-feed-profile-pic"/>
                                    </a>
                                    <div class="column sub-text">
                                        {{feed.username}}
                                        <div class="date sub-text">
                                            {{feed.time}}</div>
                                    </div>
                                    <!--<h6 class="main-feed-profile-desc"> {{feed.username}} <br> {{feed.time}} </h6>-->
                                </div>
                                <div class="main-feed-mask-container col-md-10 col-lg-10 col-sm-10">
                                    <div style="display: none;">{{feed.picid}}</div>
                                    <img title="" alt="" ng-src="{{feed.url}}" class="main-feed-post" />
                                    <div ng-repeat="t in feed.tags" class="tagview" style="top:{{t.top}};left:{{t.left}}"><a ng-href="#/results?keyword={{t.text}}">{{t.text}}</a></div>
                                    <div class="main-feed-mask-textbox">
                                        <span ng-click="cmmntshow=!cmmntshow">
                                            <img title="" alt="" src="img/icon_comment.png" class="main-feed-btn" />
                                        </span>
                                        <img title="" alt="" ng-src="{{feed.liked == 0 && 'img/icon_liked.png' || 'img/icon_like.png'}}" class="main-feed-btn" ng-click="changeLikeStatus(feed.picid,feed.liked)"/> {{feed.likeCount}}
                                        <img title="" alt="" src="img/icon_share.png" class="main-feed-btn"/>
                                        <img title="" alt="" src="img/icon_flag.png" class="main-feed-btn-flag"/>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-lg-2 col-sm-2"></div>
                                <div ng-show="cmmntshow" class="comment-box-container col-md-10 col-lg-10 col-sm-10" >
                                    <ul class="comments" >
                                        <li class="cmmnt" ng-repeat="c in feed.comments" >
                                            <div layout="row">
                                                <div class="cmmnt-avatar col-md-2 col-lg-2 col-sm-2"><a href="javascript:void(0);"><img src={{c.avatorurl}} alt=""></a></div>
                                                <div class="cmmnt-content" >
                                                    <header><a href="javascript:void(0);" class="userlink">{{c.username}}</a> - <span class="pubdate">{{c.time | date:"MM/dd/yyyy"}}</span></header>
                                                    <p>{{c.comment}}</p>
                                                </div>
                                            </div>
                                        </li>

                                        <from class="cmmnt" >
                                            <div layout="row">
                                                <div class="cmmnt-avatar"><a href="javascript:void(0);"><img src="" alt=""></a></div>
                                                <div class="cmmnt-content" >
                                                    <header><a href="javascript:void(0);" class="userlink"></a><span class="pubdate"></span></header>
                                                    <div class="mycomment">
                                                        <textarea id="{{'cmmt-'+ feed.picid}}" class="mycomment" rows="3" placeholder="Write a comment ... ...." ng-model="commtext" ng-keypress="postcomment($event,commtext, feed.picid)"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </from>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <!-- Column 1 end -->

                    </div>

            <div class="col-md-3">
                <!-- Column 3 start -->

                <!-- Column 3 end -->
            </div>

        </div>

       <!-- <md-card flex flex-gt-sm="90" flex-gt-md="80" ng-repeat="feed in feeds"  >
            <md-card-content layout="row" style="opacity: 0.9">
                <div flex="20" class="feed-owner" layout="column">
                    <div style="display: none;">{{feed.picid}}</div>
                    <div class="md-tile-left inset" hide-sm>
                        <img ng-src="{{feed.avatorurl}}" class="md-avatar" />
                    </div>
                    <div class="postorname" layout="column">
                        {{feed.username}}
                        <div class="date sub-text">
                            {{feed.time}}</div>
                    </div>
                </div>
                <div flex class="feed-holder" layout="column">

                     <div class="image-wrap" ondrop="drop(event)" ondragover="allowDrop(event)" style="opacity: 1;vertical-align: middle;">
                         <div style="display: inline-block;height: 100%;width: 100%;position: relative;vertical-align: middle;">
                             <img ng-src="{{feed.url}}">
                             <div ng-repeat="t in feed.tags" class="tagview" style="top:{{t.top}};left:{{t.left}}"><a ng-href="#/results?keyword={{t.text}}">{{t.text}}</a></div>
                         </div>
                     </div>

                    <md-chips class="hashtags" ng-repeat="ht in feed.hashtags">
                        <md-chip><a href="#">#hashtag1{{ht}}</a></md-chip>
                    </md-chips>
                    <div class="likes">
                        <a class="btn"> <span class="glyphicon glyphicon-heart">
                                </span><span class="badge">{{feed.likeCount}}</span></a>
                        <a class="btn"> <span class="glyphicon glyphicon-plus">
                                </span></a>
                        <a class="btn right"> <span class="glyphicon glyphicon-alert">
                                </span></a>
                    </div>
                    <div class="comments">
                        <ul class="commentList">
                            <li ng-repeat="c in feed.comments">
                                <div class="commenterImage">
                                    <img src="{{c.avatorurl}}" />
                                </div>
                                <div>{{c.username}}</div>
                                <div class="commentText">
                                    <p class="">
                                        {{c.comment}}</p>
                                    <span class="date sub-text">{{c.time | date:"MM/dd/yyyy"}}</span>
                                </div>
                            </li>
                        </ul>
                        &lt;!&ndash;<a href="#" class="btn"> <span class="glyphicon glyphicon-chevron-down">
                        </span>More</a>&ndash;&gt;
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input class="form-control txtComment" type="text" placeholder="Write a comments" ng-model="commtext" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" ng-click="postcomment(commtext, feed.picid)">
                                    Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </md-card-content>
        </md-card>-->
    </md-content>
